# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

apollo/apollo-api/genModel.sh
apollo/apollo-rpc/genModel.sh
apollo/apollo-api/etc/apollo.yaml
apollo/apollo-rpc/etc/apollo.yaml
